@page
@model ASC.Web.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel

@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "_Layout";
}

<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card z-depth-3">
                <div class="card-content center">
                    <h5 class="orange-text text-darken-2">Xác nhận đặt lại mật khẩu</h5>
                    <p class="grey-text text-darken-1">Vui lòng kiểm tra email của bạn để tiếp tục đặt lại mật khẩu.</p>
                    <i class="material-icons large orange-text">email</i>
                </div>
            </div>
        </div>
    </div>
</div>
